@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  --color-primary: #2563EB;
  --color-secondary: #1E293B;
  --color-success: #22C55E;
  --color-danger: #EF4444;
  --color-bg-main: #F8FAFC;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-secondary);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
