# Server Configuration
PORT=5000
NODE_ENV=development

# Supabase API Configuration (Server)
# WARNING: Service Role Key bypasses RLS and should never be exposed on the frontend client.
SUPABASE_URL=https://itjffitgqhukbqevjdyq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0amZmaXRncWh1a2JxZXZqZHlxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTg1MjUwMiwiZXhwIjoyMDk3NDI4NTAyfQ.Fkn-_teq1ZSiLYRIYK25id0k-f-ZlhHJrvvtgzi5cB8

# Security Configurations
JWT_SECRET=your_jwt_signature_secret_key
